<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513558883819-tgo926723sbr3d2ksiu6umc5hjue1s51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513558883819-tgo926723sbr3d2ksiu6umc5hjue1s51</string>
	<key>API_KEY</key>
	<string>AIzaSyBXYkLtb7a51Bsyspa6rjIHADxQAgCfEDA</string>
	<key>GCM_SENDER_ID</key>
	<string>513558883819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotification</string>
	<key>PROJECT_ID</key>
	<string>fcmflutter-c8d47</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmflutter-c8d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513558883819:ios:8e23fa793743e8c9e7fdae</string>
</dict>
</plist>